html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
  }
  body { 
    font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    background: #f7f7f7;
    color: #404040;
  }
  svg {
    font-family: Ubuntu, Tahoma, Helvetica, sans-serif;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
    float: left;
  }
  #parCoords {
    position: relative;
    float: left;
  }
  .jitter_container {
    position: relative;
    left: 1.4%;
    margin-right: 0.33%;
    margin-top: 0.33%;
    text-align: center;
    float: center;
    width: 30%;
    background-color: #e8e8e89a;
    border-radius: 30px 30px 30px 30px;
  }
  .brush rect.extent {
    fill: rgba(100,100,100,0.15);
    stroke: #fff;
  }
  .brush:hover rect.extent {
    stroke: #222;
    stroke-dasharray: 5,5;
  }
  .brush rect.extent:hover {
    stroke-dasharray: none;
  }
  .resize rect {
    fill: none;
  }
  .background {
    fill: none;
  }
  .axis line, .axis path {
    fill: none;
    stroke: #777;
    stroke-width: 1;
  }
  .axis .tick {
    width: 200px;
  }
  .axis text {
    fill: #111;
    text-anchor: right;
    font-size: 11px;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
  }
  .axis text.label {
    font-size: 12px;
    padding-bottom: 24px;
  }
  #rendered-bar, #selected-bar {
    width:0%;
    font-weight: bold;
  }
  #rendered-bar {
    background: #888;
    border-right: 1px solid #666;
  }
  #selected-bar {
    background: rgba(160,160,160,0.5);
    border-right: 1px solid #999;
  }
  .fillbar {
    height: 12px;
    line-height: 12px;
    border:1px solid rgba(120,120,120,0.5);
    width: 120px;
    display: inline-block;
  }
  .little-box {
    width: 268px;
    float: left;
  }
  #header {
    border-bottom: 1px solid rgba(100,100,100,0.35);
    background: #e2e2e2;
    padding: 6px 24px 4px;
    line-height: 24px;
  }
  #header h1 {
    display: inline-block;
    margin: 0px 14px 0 0;
  }
  #header h2 {
    display: inline-block;
    margin: 0px 14px 0 0;
    font-size: 18px;
    font-weight: normal;
  }
  #header button {
    vertical-align: top;
  }
  .controls {
    float: left;
    height: 24px;
    line-height: 24px;
  }